html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: white;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  height: 55px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}

#destinations, #actions {
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 12px;
}

#destinations > p:first-child {
  font-size: 20px;
}

#destinations {
  gap: 32px;
}

#actions {
  gap: 10px;
}

#actions > p {
  padding: 8px 18px;
  border-radius: 25px;
}

#actions > p:first-child {
  color: rgba(0, 87, 255, 1);
  background-color: rgba(222, 232, 255, 0.5);
  border: 1px solid rgba(222, 232, 255, 1);
}

#actions > p:nth-child(2) {
  color: white;
  background-color: rgba(0, 87, 255, 1);
}

#actions > p:last-child {
  color: rgba(25, 25, 25, 1);
  border: 1px solid rgba(0, 0, 0, 0.2)
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

#search > input, div {
  display: flex;
  height: 50px;
}

input {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(249, 249, 249, 1);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 75%;
}

#search > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#search > div > button {
  width: 16%;
  margin: 0; 
  padding: 8px 15px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 25px;
}

#search > div > button:first-child {
  margin: 0 0 0 20px;
}

#search > div > button:last-child {
  margin: 0 20px 0 0;
}

#subnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 30px 20px;
  margin: 10px 0 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

#subnav > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

#subnav > button, #subnav > div > button {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 8px;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.img-placeholder {
  height: 260px;
  width: 340px;
  background:rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 20px;
  font-size: 14px;
}